.contact_table {
  text-align: center;
  width: 100%;
}

#picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

ul {
  list-style-type: none;
}
